/*----------------------------------------
  Blockquote
------------------------------------------*/
blockquote p {
  color: black;
}

blockquote .order-status {
  color: inherit;
  font-weight: 600;
}
blockquote {
  border-color: var(--primary-color);
  padding-top: 8px;
  padding-bottom: 8px;
}
blockquote.purples {
  border-color: #b724df !important;
  color: #b724df !important;
}
blockquote.blues {
  border-color: #42a5f5 !important;
  color: #42a5f5 !important;
}
blockquote.greens {
  border-color: #66bb6a !important;
  color: #66bb6a !important;
}
blockquote.accent {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
blockquote .title {
  color: inherit;
  font-weight: 600;
}
