/*----------------------------------------
  Blockquote
------------------------------------------*/

blockquote {
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding-top: 8px;
  padding-bottom: 8px;
}
blockquote.purples {
  border-color: #b724df;
}
blockquote.blues {
  border-color: #42a5f5;
}
blockquote.greens {
  border-color: #66bb6a;
}
blockquote.accent {
  border-color: var(--accent-color);
}
blockquote .title {
  color: inherit;
  font-weight: 600;
}
