/* --------------------------------------------------------
Style Sheet for Ensign PWA Mobile App
version: 1.0
author: themepassion
email: themepassion@jaybabani.com
----------------------------------------------------------*/

/*-------------------------------------
TABLE OF CONTENTS:
-------------------------------------*/

/*-------------------------------------
+ Import Font
+ General Layout
+ Typography
+ Page Title
+ Helper Classes
+ Preloader
+ UI - buttons
+ UI - badges & Waves
+ UI - Colors
+ UI - Toasts
+ UI - Modal
+ UI - Grid
+ UI - Icons
+ Form Select
+ Dropdowns
+ Mediabox
+ Date picker
+ Time picker
+ Feature Discovery
+ Carousel
+ Carousel Home Screen
+ Slider
+ Testimonials
+ Floating action buttons
+ Tooltip
+ Highlight
+ Breadcrumbs
+ Buttons
+ Badges
+ Blockquote
+ Pagination
+ Spineers / preloaders
+ Carousel Basic
+ Accordion
+ Waves
+ Modal
+ Page Top Bar
+ Page Top Bar - Left Align
+ Page Top Bar - App Based
+ Page Top Bar - Right Aligned
+ Page Top Bar - Dark Style
+ Page Top Bar - Colored Style
+ Navigation Menu
+ Navigation Menu - Centered 
+ Navigation Menu - Dark Style
+ Navigation Menu - Colored Style
+ Sub pages - Inner Menu Links
+ Footer
+ Footer - Light Style
+ Footer - Colored Style
+ Footer - Minimal
+ Navigation User Menu
+ Drop Down
+ Collection
+ Progress Bars
+ Back to top button
+ Cards
+ Tabs
+ Icon Boxes
+ Chips
+ Form Range Sliders
+ Switches
+ Form Elements
+ Checkboxes
+ Radio Buttons
+ Select
+ Settings
+ Parallax
+ Masonry
+ Cards Wrap
+ Chat
+ Calendar
+ Events
+ Mailbox / Messages
+ Profile Page
+ Timeline
+ Portfolio
+ Blogs
+ Blogs - Aligned
+ Blogs - Small Left Style
+ Blogs - Medium Left Style
+ Blogs - Small Right Style
+ Blogs - Medium Right Style
+ Blogs - Small Alternate Style
+ Blogs - Medium Alternate Style
+ Blogs - Non Image
+ Login Page
+ Welcome page
+ Error Pages 
+ Search Page 
+ Pricing Tables
+ Invoice
+ Notifications
+ Edit Profile
+ App Settings
+ Clients
+ Fixed Footer Menu
+ Fixed Footer Menu - Dark Style
+ Fixed Footer Menu - Colored Style
+ Perfect Scrollbar
+ Table
+ Contact us page
+ Fancybox
+ Image Filter Overlay
+ Site - Dark Mode
+ Site - Dark Mode - Calendar
+ Site - Dark Mode - Events
+ Site - Dark Mode - Collections
+ Site - Dark Mode - Chat
+ Site - Dark Mode - Edit Profile
+ Site - Dark Mode - UI
+ Site - Dark Mode - Cards
+ Site - Dark Mode - Table
+ Site - Dark Mode - Badge and collapsible
+ Site - Dark Mode - Dropdown
+ Site - Dark Mode - Tabs
+ Site - Dark Mode - Iconboxes
+ Site - Dark Mode - Pagination
+ Site - Dark Mode - Modal & Waves
+ Site - Dark Mode - Forms
+ Site - Dark Mode - Datepicker and Timepicker
+ Site - Dark Mode - Checkbox & Radio
+ Site - Dark Mode - Chips
+ Site - Dark Mode - Range & Select
+ Site - Dark Mode - Switches
+ Site - Dark Mode - Inputs
+ Site - Dark Mode - Timeline
+ Site - Dark Mode - Pricing Tables & Search
+ Site - Dark Mode - Blogs
+ Site - Dark Mode - Client
+ Site - Dark Mode - Calendar
+ Site - Dark Mode - Portfolio
+ Site - Dark Mode - UI Icons

--------------------------------------*/

/*-------------------------------------
  Variables
  + Font: Poppins
  + Primary Color: var(--primary-color) / rgba(var(--primary-rgb), 1)
  + Accent Color: var(--accent-color) / rgba(var(--accent-rgb), 1)
  + Text Color: var(--dark-700)
  + Background Color: #f5f5f5
  + Dark Mode Background Color: var(--dark-900) / var(--dark-800) / var(--dark-700)
  + Dark Mode Text Color: #f5f5f5 / #CFD8DC

-------------------------------------*/

/*-------------------------------------
  Import Font
-------------------------------------*/

/* @import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("variables.css");

@import url("_general.css");
@import url("_preloader.css");
@import url("_ui.css");
@import url("_datepicker.css");
@import url("_timepicker.css");
@import url("_carousel.css");
@import url("_carousel-home-screen.css");
@import url("_slider.css");
@import url("_testimonials.css");
@import url("_floating-action.css");
@import url("_tooltips.css");
@import url("_buttons.css");
@import url("_badges.css");
@import url("_blockquotes.css");
@import url("_pagination.css");
@import url("_spinners.css");
@import url("_accordion.css");
@import url("_waves.css");
@import url("_modal.css");
@import url("_topbar.css");
@import url("_navigation.css");
/* @import url("_navigation-centered.css"); */
@import url("_navigation-dark.css");
@import url("_navigation-colored.css");
@import url("_subpages.css");
@import url("_footer.css");
@import url("_footer-light.css");
@import url("_footer-colored.css");
@import url("_footer-minimal.css");
@import url("_dropdown.css");
@import url("_collection.css");
@import url("_progress.css");
@import url("_backtotop.css");
@import url("_cards.css");
@import url("_tabs.css");
@import url("_iconboxes.css");
@import url("_chips.css");
@import url("_form-range-sliders.css");
@import url("_switches.css");
@import url("_form-elements.css");
@import url("_settings.css");
@import url("_parallax.css");
@import url("_chat.css");
@import url("_calendar.css");
@import url("_events.css");
@import url("_mailbox.css");
@import url("_profile.css");
@import url("_timeline.css");
@import url("_portfolio.css");
@import url("_blogs.css");
@import url("_products.css");
@import url("_login.css");
@import url("_welcome.css");
@import url("_error.css");
@import url("_search.css");
@import url("_pricing.css");
@import url("_invoice.css");
@import url("_notifications.css");
@import url("_profile-edit.css");
@import url("_app-settings.css");
@import url("_clients.css");
@import url("_fixed-footer-menu.css");
@import url("_perfect-scrollbar.css");
@import url("_tables.css");
@import url("_contactus.css");
@import url("_fancybox.css");
@import url("_image-filter.css");
@import url("_shadow.css");
@import url("_team.css");
@import url("_charts.css");
@import url("_activity.css");
@import url("_page-heading.css");
@import url("_actions.css");
@import url("_menu-effect.css");
@import url("_site-darkmode.css");

.collection.invoice-item .collection-item {
  margin-bottom: 20px; /* khoảng hở giữa 2 khung */
}
.confirm-close {
  position: absolute;
  top: 10px;
  right: 12px;

  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;

  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.confirm-close:hover {
  background: #f2f2f2;
  color: #000;
}
.confirm-box1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 1001;

  display: none; /* ẩn mặc định */
}

/* nền mờ phía sau */
.confirm-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  display: none;
}

/* icon xác nhận */
.confirm-icon1 {
  font-size: 36px;
  color: #22c55e;
  margin-bottom: 8px;
}

.confirm-title1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.confirm-row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 6px 0;
}

.confirm-sub1 {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.confirm-sub1.small {
  font-size: 12px;
  color: #777;
}

ul li a {
  color: #666;
}

ul li a i {
  color: #666;
}

/* Active */
ul li.active a,
ul li.active a i {
  color: #2196f3; /* blue */
}

.profile-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  display: none;
  justify-content: center;
  align-items: flex-end;
  z-index: 9999;
}

.profile-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 12px;
  animation: slideUp 0.3s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.logout-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #e63946;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.distance-summary {
  width: 60%;
  margin: 20px auto;
  padding: 12px 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px dashed #eee;
}

.summary-row:last-child {
  border-bottom: none;
}

.summary-row.total {
  font-weight: 700;
  color: var(--primary);
}

.label {
  color: #555;
}

.value {
  font-weight: 600;
}

.confirm-box {
  width: calc(60% - 40px);
  margin: 20px auto;
  background: #fff;
  border-radius: 14px;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirm-icon {
  font-size: 30px;
  color: #0bbf4f;
}

.confirm-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}

.confirm-row {
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin: 6px 0;
}

.confirm-row .icon {
  font-size: 18px;
}

.confirm-sub {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.confirm-sub.small {
  font-size: 13px;
  opacity: 0.7;
}
.confirm-box.fail {
  border-left: 5px solid #e53935;
}

.confirm-icon.fail {
  color: #e53935;
}

.confirm-title.fail {
  color: #e53935;
  font-weight: 700;
}

.qr-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qr-icon {
  cursor: pointer;
  font-size: 18px;
}

.qr-icon:hover {
  transform: scale(1.2);
}

/* QR popup */
.qr-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.qr-modal.show {
  display: flex;
}

.qr-box {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
}

.qr-box img {
  width: 100px;
  height: 100px;
}
.calwrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.date-range-box {
  position: relative;
  margin: 60px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 10px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.date-item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.date-item label {
  margin-bottom: 4px;
  color: #555;
}

.date-item input {
  height: 36px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-today {
  height: 36px;
  padding: 0 14px;
  border-radius: 6px;
  border: none;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.btn-today:hover {
  background: #125ca1;
}
